---
# See https://pre-commit.com for more information
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: mixed-line-ending

#  - repo: https://github.com/hadolint/hadolint
#    rev: v2.14.0
#    hooks:
#      - id: hadolint
#        args: [".devcontainer/Dockerfile"]

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/ansible/ansible-lint
    rev: v26.1.1
    hooks:
      - id: ansible-lint
        language_version: python3
        files: \.(yaml|yml)$
        args: ["playbooks/"]
